body {
      margin: 0;
      overflow-x: hidden;
      width: 100vw;
}
.header {
      width: 100vw;
      height: 20vh;
      background-color: #285A48;
      padding: 10px;
}
#logo-h {
      height: 90%;
}
.h-but {
      color: whitesmoke;
      font-size: 30px;
      padding: 20px 25px;
      background: rgb(50, 171, 59);
      background: linear-gradient(270deg,rgba(50, 171, 59, 1) 30%, rgba(50, 171, 59, 1) 71%, rgba(0, 0, 0, 1) 100%);
      background-position-x: -0.5px;
      border: 2px solid black;
      border-radius: 20px;
      float: right;
      margin-right: 100px;
      margin-top: 50px;
}
.h-but:hover {
      cursor: pointer;
      background: black;
      background: linear-gradient(270deg,rgb(36, 121, 42) 30%, rgba(36, 121, 42) 71%, rgba(0, 0, 0, 1) 100%);
      text-shadow: 0px 0px 7px #FFFFFF;
      box-shadow: 0px 0px 7px #000;
      background-position-x: -0.5px;
}

.main {
      width: 100vw;
      height: 100vh;
      background: #285A48;
      background: linear-gradient(180deg,rgba(40, 90, 72, 1) 0%, rgba(9, 20, 19, 1) 20%);
      padding-top: 30px;
}

.bannerad {
      border: 2px double gray;
      height: 10vh;
      width: 10vw;
      position: absolute;
      top: 30vh;
      left: 2.5vw;
      background-size: cover;
}
